:root {
  --branding-color: #6c63ff;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 96px;
}
h2,
h3,
p {
  font-family: "Josefin Sans", sans-serif;
}
img {
  border-radius: 10px;
}

.main-page {
  text-align: center;
  background-color: rgb(232, 228, 241);
  padding: 160px 20px;
}
.main-page h2 {
  font-size: 36px;
  font-weight: 600;
}
.main-page h3 {
  font-weight: 500;
  font-size: 24px;
  opacity: 0.7;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-cat {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.content {
  padding: 160px 20px;
}
.content h1 {
  font-size: 50px;
  line-height: 1;
}
.content h2 {
  font-weight: 600;
}
.contact-link {
  color: var(--branding-color);
  text-decoration: none;
}
.nav-link.active {
  color: var(--branding-color) !important;
}
.email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
  margin-top: 40px;
}
.social-links a {
  color: var(--branding-color);
  background-color: rgb(232, 228, 241);
  margin: 0 40px;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 50%;
}
.email-link:hover {
  color: var(--branding-color);
  cursor: pointer;
}
.social-links a:hover {
  background-color: var(--branding-color);
  color: white;
}
@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }
  .project-description {
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 20px;
  }
  .social-links a {
    margin: 0 20px;
    font-size: 10px;
  }
}
